:root{
    --principalColor: #FDE3BA;
    --secondeColor: #EFA235;
    --thirdColor: #764C21;
}

body {
    background-color: var(--principalColor);
}

/*Menu de navegação*/
.bannerHeader {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.navBar > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
}

.navBar a {
    background-color: var(--secondeColor);
    padding: 10px;
    color: var(--thirdColor);
    text-decoration: none;
}

main img {
    width: 300px;
    height: auto;
}